<header class="masthead bg-primary text-white text-center">
  <div class="container d-flex align-items-center flex-column">
    <!-- Masthead Avatar Image-->
    <img class="masthead-avatar mb-5" src="assets/img/avatar.svg" alt="..." />

   <app-title [title]="'Ester Ramos'" [dark]="false" [main]="true" ></app-title>

    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
    </div>
    <!-- Masthead Subheading-->
    <p class="masthead-subheading font-weight-light mb-0">Front End Developer - Data Analyst</p>
  </div>
</header>
